.resize-observer[data-v-b329ee4c] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  pointer-events: none;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.resize-observer[data-v-b329ee4c] object {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.v-popper__popper {
  z-index: 1000000000;
  top: 0;
  left: 0;
  outline: none;
}

.v-popper__popper.v-popper__popper--hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.05s ease, visibility 0.5s;
  pointer-events: none;
}

.v-popper__popper.v-popper__popper--shown {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.05s ease;
}

.v-popper__popper {
  & > .v-popper__wrapper {
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.33));
  }

  &.v-popper--theme-tooltip.v-popper__popper {
    &--show-from[data-popper-placement^='top'] .v-popper__wrapper,
    &-hide-from[data-popper-placement^='top'] .v-popper__wrapper {
      transform: scale(0.95) translateY(2px);
      transform-origin: 50% 100%;
    }
    &--show-from[data-popper-placement^='bottom'] .v-popper__wrapper,
    &-hide-from[data-popper-placement^='bottom'] .v-popper__wrapper {
      transform: scale(0.95) translateY(-2px);
      transform-origin: 50% 0%;
    }
    &--show-from[data-popper-placement^='left'] .v-popper__wrapper,
    &-hide-from[data-popper-placement^='left'] .v-popper__wrapper {
      transform: scale(0.95) translateX(2px);
      transform-origin: 100% 50%;
    }
    &--show-from[data-popper-placement^='right'] .v-popper__wrapper,
    &-hide-from[data-popper-placement^='right'] .v-popper__wrapper {
      transform: scale(0.95) translateX(-2px);
      transform-origin: 0% 50%;
    }
    &--show-to > .v-popper__wrapper,
    &--hide-to > .v-popper__wrapper {
      transition: transform 0.1s cubic-bezier(0, 0, 0.4, 2);
    }
  }
}

.v-popper__popper.v-popper__popper--skip-transition,
.v-popper__popper.v-popper__popper--skip-transition > .v-popper__wrapper {
  transition: none !important;
}

.v-popper__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.v-popper__inner {
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;
}

.v-popper__inner > div {
  position: relative;
  z-index: 1;
  max-width: inherit;
  max-height: inherit;
}

.v-popper__arrow-container {
  position: absolute;
  width: 10px;
  height: 10px;
}

.v-popper__popper--arrow-overflow .v-popper__arrow-container,
.v-popper__popper--no-positioning .v-popper__arrow-container {
  display: none;
}

.v-popper__arrow-inner,
.v-popper__arrow-outer {
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.v-popper__arrow-inner {
  visibility: hidden;
  border-width: 7px;
}

.v-popper__arrow-outer {
  border-width: 6px;
}

.v-popper__popper[data-popper-placement^='top'] .v-popper__arrow-inner,
.v-popper__popper[data-popper-placement^='bottom'] .v-popper__arrow-inner {
  left: -2px;
}

.v-popper__popper[data-popper-placement^='top'] .v-popper__arrow-outer,
.v-popper__popper[data-popper-placement^='bottom'] .v-popper__arrow-outer {
  left: -1px;
}

.v-popper__popper[data-popper-placement^='top'] .v-popper__arrow-inner,
.v-popper__popper[data-popper-placement^='top'] .v-popper__arrow-outer {
  border-bottom-width: 0;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

.v-popper__popper[data-popper-placement^='top'] .v-popper__arrow-inner {
  top: -2px;
}

.v-popper__popper[data-popper-placement^='bottom'] .v-popper__arrow-container {
  top: 0;
}

.v-popper__popper[data-popper-placement^='bottom'] .v-popper__arrow-inner,
.v-popper__popper[data-popper-placement^='bottom'] .v-popper__arrow-outer {
  border-top-width: 0;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
}

.v-popper__popper[data-popper-placement^='bottom'] .v-popper__arrow-inner {
  top: -4px;
}

.v-popper__popper[data-popper-placement^='bottom'] .v-popper__arrow-outer {
  top: -6px;
}

.v-popper__popper[data-popper-placement^='left'] .v-popper__arrow-inner,
.v-popper__popper[data-popper-placement^='right'] .v-popper__arrow-inner {
  top: -2px;
}

.v-popper__popper[data-popper-placement^='left'] .v-popper__arrow-outer,
.v-popper__popper[data-popper-placement^='right'] .v-popper__arrow-outer {
  top: -1px;
}

.v-popper__popper[data-popper-placement^='right'] .v-popper__arrow-inner,
.v-popper__popper[data-popper-placement^='right'] .v-popper__arrow-outer {
  border-left-width: 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}

.v-popper__popper[data-popper-placement^='right'] .v-popper__arrow-inner {
  left: -4px;
}

.v-popper__popper[data-popper-placement^='right'] .v-popper__arrow-outer {
  left: -6px;
}

.v-popper__popper[data-popper-placement^='left'] .v-popper__arrow-container {
  right: -10px;
}

.v-popper__popper[data-popper-placement^='left'] .v-popper__arrow-inner,
.v-popper__popper[data-popper-placement^='left'] .v-popper__arrow-outer {
  border-right-width: 0;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

.v-popper__popper[data-popper-placement^='left'] .v-popper__arrow-inner {
  left: -2px;
}

.v-popper--theme-tooltip .v-popper__inner {
  background: var(--color-text-strong);
  color: #ffffff;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 12px;
}

.v-popper--theme-tooltip.error-color .v-popper__inner {
  background: var(--color-danger);
  color: #ffffff;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: var(--color-text-strong);
  transform: translateY(-0.5px);
}

.v-popper--theme-tooltip.error-color .v-popper__arrow-outer {
  border-color: var(--color-danger);
}

.v-popper--theme-tooltip .v-popper__wrapper {
  pointer-events: none;
}
